body {
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo-principal"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.navigation__menu {
    grid-area: cabecalho;

}