html {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #fdfdfd;
}

body {
    background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat fixed center;
    background-size: contain;
    width: 1440px;
}

.navigation__menu {
    padding: 4rem 0 3rem 0;
}

.main__description {
    padding: 5rem 2rem;
}

.main__description___title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}

.main__description___text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 2rem;
}

.main__description___button {
    text-align: center;
    background-color: #fdfdfd;
    padding: 1.3rem 0;
    width: 35%;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    box-shadow: 0 .8rem 1.5rem -1rem black;
}

.main__description___button:hover {
    background-color: hsl(335, 77%, 63%);
    color: #fdfdfd;
}

.footer__contents {
    display: flex;
    font-size: 2.5rem;
    justify-content: end;
    margin: 2rem 0;
    padding-right: 2rem;
}

.footer__icon {
    padding-left: 1rem;
}

.footer__icon:hover {
    color: hsl(335, 77%, 63%);
}

.attribution {
    text-align: center;
}